<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hzong.systech.db.mapper.RoomMapper">
	<sql id="col_room" >
		tig_rooms.id,tig_rooms.name,tig_rooms.user_id
		userId,tig_rooms.create_date createDate,tig_rooms.announcement
	</sql>
	

	<select id="getRoomInfo" resultType="cn.hzong.imweb.room.bean.Room"
		parameterType="long">
		select
		<include refid="col_room" />
		from tig_rooms where id = #{roomId}
	</select>

	<select id="getRooms" resultType="cn.hzong.imweb.room.bean.Room"
		parameterType="string">
		select
		<include refid="col_room" />
		from tig_rooms ,tig_room_members where tig_room_members.room_id = tig_rooms.id and
		tig_room_members.user_id = #{im_account}
	</select>

</mapper>